body {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }

.photo-viewer-block {
    width: 1200px;
    display: flex;
    align-items: center;
    box-shadow: 5px 3px 18px #999999;
}

.photo-viewer {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    max-height: 470px;
    overflow: hidden;
    margin: auto;
}
.left-arrow {
    width: 10%;
    display: flex;
    justify-content: center;
}

.left-arrow img {
    width: 20%;
}

.right-arrow {
    width: 10%;
    display: flex;
    justify-content: center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.right-arrow img {
    width: 20%;
}

#photo-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

#photo-description {
    line-height: 20px;
    font-size: 14px;
    margin-top: 0;
    margin-right: 50px;
    color: rgb(233, 233, 233);
}

.text-block {
    color: white;
    font-family:'Gill Sans MT', sans-serif;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.527);
    width: 100%;
    height: 120px;
}

img {
    width: 100%;
    object-fit: contain;
}

.thumbnail-container {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    margin: 15px 6px;
}